*{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#feat{
    background-color: white;
    background-image: url("background2.gif");
    height: 100%;
    background-position: center;
    background-size: cover;

}

.navbar-nav{
    background-color: black transparent;
    border: 2px thin red;
}

.navbar-nav li a{

    float: right !important;
    color: #fff !important;
    
}

.navbar-brand img{

    width: 100px;
    height: 50px;

}

.navbar-toggler{
    border: none;
    outline: none;
}

.nav fa-bars{
color: white;
font-size: 25px;

}
.collapse navbar-collapse-right{
    float: right;
    color: white;
    
}

.col-md-6 cls1{
    background-color: white;
}