*{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#header{

    background-image: url("fit1.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;

}

.navbar-nav li a{

    float: right !important;
    color: #fff !important;
}

.navbar-brand img{

    width: 100px;
    height: 50px;

}

.navbar-toggler{
    border: none;
    outline: none;
}

.nav fa-bars{
color: white;
font-size: 25px;

}
.collapse navbar-collapse-right{
    float: right;
    color: white;
}

/*----------------Welcome file---------------------*/


.welcome{

    padding: 50px 100px;
    margin-top: -100px;
    background-color: black;
    box-shadow: red;
    border: red solid 3px;
}
.welcome h3{
    color:red;
}
.welcome p{
    color:whitesmoke;
}

/*---------------Aboutus----------------------------*/

#Aboutus{
    padding-top: 100px;
    padding-bottom: 100px;
    color: seashell;
}

#Aboutus .col-md-6{
    padding: 20px,10px ;
}

#Aboutus h3{
    color: red;
    margin: 10px auto;
}

#Aboutus .embed-responsive{
border: red solid 2px;
}