*{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#header{

    background-image: url("background2.gif");
    height: 100%;
    background-position: center;
    background-size: cover;

}

.navbar-nav{
    background-color: black transparent;
    border: 2px thin red;
}

.navbar-nav li a{

    float: right !important;
    color: #fff !important;
    
}

.navbar-brand img{

    width: 100px;
    height: 50px;

}

.navbar-toggler{
    border: none;
    outline: none;
}

.nav fa-bars{
color: white;
font-size: 25px;

}
.collapse navbar-collapse-right{
    float: right;
    color: white;
    
}




.signup{

    height: 80%;
    background-color: black;
    opacity: 0.5;
    position: relative;
    left: 60%;
    padding-left: 5%;

}

.form1 p{
    color: red;
    font-weight: bold;
    margin-bottom: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1.0;

}

.form1 input{
    margin-top: 3px;

    
}

.form1 input[type="text"], input[type="number"]{
    background-color:white;
    height: 30px;
    width: 30%;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-style: solid,black,2px;
    border-radius:5px;
    
}

.form1 input[type="submit"]{
    background-color: red;
    height: 30px;
    width: 10%;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-style: solid,black,2px;
    border-radius: 20px;
    
}


.form1 input[type="submit"]:hover{
    background-color: lawngreen;
}
.signup h2{
    color: lawngreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}